<h1>New Profession category</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.profession_category_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.profession_category_path(@conn, :index) %></span>
