<h1>Show Profession category</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @profession_category.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.profession_category_path(@conn, :edit, @profession_category) %></span>
<span><%= link "Back", to: Routes.profession_category_path(@conn, :index) %></span>
